@model RegistrationForms2.Models.selfInformation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>selfInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAdress)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Gender1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.read1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.write1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.write1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speak1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speak1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.understand1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understand1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.read2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.write2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.write2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speak2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speak2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.understand2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understand2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.read3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.write3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.write1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speak1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speak3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.understand3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understand3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.read3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.write3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.write3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speak3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speak3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.understand3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understand3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.read4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.write4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.write4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speak4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speak4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.understand4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understand4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Program_course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program_course)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elective)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CollegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fromYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toyear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toyear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOF1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOF1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOF2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOF2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOF3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOF3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position3)
        </dd>




    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
